consumer/config/psi-pipelines-robot.crt filter=git-crypt diff=git-crypt
consumer/config/psi-pipelines-robot.key filter=git-crypt diff=git-crypt
consumer/openshift/build-config.yaml filter=git-crypt diff=git-crypt
producer/openshift/build-config.yaml filter=git-crypt diff=git-crypt
configs/secrets.yaml filter=git-crypt diff=git-crypt